html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
    height: 100%;
    /*background-color: #16fca3;*/
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
    height: 100px;
}

#viewsChart {
    width: 550px;
    height: 550px;
}