<div  data-dojo-attach-point="containerNode">
    <h1>Welcom to dojo templated!</h1>
    <div id="v1" data-dojo-type="com/it2go/dojo-framework/dijit/DataViewWidget">Test the Widgets V1!
        <!--<div> hier ist ein Abstand zwischen den nodes denn noch der child v1-1 wird gefunden-->
        <div id="v1-1" data-dojo-type="com/it2go/dojo-framework/dijit/DataViewWidget">Test the Widgets V1-1!
            <div id="v1-1-1" data-dojo-type="com/it2go/dojo-framework/dijit/DataViewWidget">Test the Widgets V1-1-1!</div>
        </div>
        <!--</div>-->
        <div id="v1-2" data-dojo-type="com/it2go/dojo-framework/dijit/DataViewWidget">Test the Widgets V1-2!
            <div data-dojo-type="com/it2go/dojo-framework/dijit/input/InputWidget" data-dojo-props='"widgetType":"text"'></div>
        </div>
        <div id="v1-3" data-dojo-type="com/it2go/dojo-framework/dijit/DataViewWidget">Test the Widgets V1-2!
            <div data-dojo-type="com/it2go/dojo-framework/dijit/input/InputWidget" data-dojo-props='"widgetType":"date"'></div>
        </div>
    </div>
</div>